div{
    background-color: rgb(224, 94, 159);
    border: 2px solid black;
    border-radius: 4px;
    padding: 25px;
}
input[type=text],select{
border: 2px solid black;
box-sizing: border-box;
display:inline-block;
width: 100%;
padding: 13px 22px;
}
.title{
    background-color: rgba(183, 106, 183, 0.96);
    color: white;
    text-align: center;
    font-family: serif;
    font-size: 150%;
}
.form{
    background-color: rgb(206, 111, 160);
}
.input{
border: 2px solid black;
box-sizing: border-box;
display:inline-block;
width: 100%;
padding: 13px 22px;
}
button{
    text-align: center;
    padding: 13px 22px;
    width: 100%;
}
button :hover{
    background-color: white;
    color: black;
}